<br><br>

<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="/assets/consultation_explination.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/consultation_patientSatisfaction.webp" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/consulting_preliminaryAssesment.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/consulting_outPatient.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/diagnostic_dataAnalasis.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/diagnostic_dataCollecting.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="/assets/surgery_scissor.jpg" height="100" width="250" alt="" />
    </div>
   
  </div>
</div>
<h2>Mission statement</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<h2>More information</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- <h2>Finish the front end side of the authentification of the all</h2> -->
  <!-- <br>
  <br>
     <br>
     <br>>> implement the email function 
     <br>
     <br>>> implement the pdf function
     <br>
     <br>>> check on the interceptor implement the login
     <br>
     <br> launch it for portfolio userfinish the documentation and the manuals for the app  -->