<div class="container-fluid">
    <div class="text-bg-primary p-3"></div>
    <ul class="list-group list-group-flush text-bg p-3">
         <li class="list-group-item"><b>Room id:</b> {{place?.id_num | titlecase}} </li>
         <li class="list-group-item"><b>Ward:</b>{{place?.ward |titlecase}} </li>
         <li class="list-group-item"><b>Floor:</b> {{place?.floor}} </li>
         <li class="list-group-item"><B>Availability:</B> {{place?.availability_status | titlecase}} </li>
    </ul>
    <div class="col">
        <button  type="button" class="btn btn-dark btn-primary btn-lg" 
        routerLink="/rooms">Return</button><br><br>
        <button  type="button" class="btn btn-dark btn-primary btn-lg" 
        routerLink="/roomsUpdate/{{id}}">Edit</button>
      </div>
      <div class="text-bg-primary p-3"></div>
</div>